{% extends 'base.html' %}

{% load static %}

{% block content %}


<section>
    <div class="container__cards">
      <div class="container__desc">
        <div class="card">
          <div class="slide slide1">
            <div class="content">
              <div class="icon">
                <img src="{% static 'apps/about/akolelow.jpg' %}" alt="img" class="img__desc" aria-hidden="true">
              </div>
            </div>
          </div>
          <div class="slide slide2">
            <div class="content">
              <h3>
                Аколелов
              </h3>
              <h3>
                Андрей
              </h3>
              <h3>
                Николаевич
              </h3>
              <p>• Yet Another Teacher</p>
              <p>• Пенсионер Яндекс лицея в Липецкой области</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container__desc">
        <div class="card">
          <div class="slide slide1">
            <div class="content">
              <div class="icon">
                <img src="{% static 'apps/about/KrasnovN.jpg' %}" alt="img" class="img__desc" aria-hidden="true">
              </div>
            </div>
          </div>
          <div class="slide slide2">
            <div class="content">
              <h3>
                Краснов
              </h3>
              <h3>
                Никита
              </h3>
              <h3>
                Алексеевич
              </h3>
              <p>• Tim-Lead</p>
              <p>• Backend</p>
              <p>• Думает, что Kafka - это писатель</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container__desc">
        <div class="card">
          <div class="slide slide1">
            <div class="content">
              <div class="icon">
                <img src="{% static 'apps/about/KudaevN.jpg' %}" alt="img" class="img__desc" aria-hidden="true">
              </div>
            </div>
          </div>
          <div class="slide slide2">
            <div class="content">
              <h3>
                Кудаев
              </h3>
              <h3>
                Никита
              </h3>
              <h3>
                Александрович
              </h3>
              <p>• Frontend</p>
              <p>• Если-бы сон был видом спорта давно бы получил МСМК</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container__desc">
        <div class="card">
          <div class="slide slide1">
            <div class="content">
              <div class="icon">
                <img src="{% static 'apps/about/Kirill.jpg' %}" alt="img" class="img__desc" aria-hidden="true">
              </div>
            </div>
          </div>
          <div class="slide slide2">
            <div class="content">
              <h3>
                Копенкин
              </h3>
              <h3>
                Кирилл
              </h3>
              <h3>
                Юрьевич
              </h3>
              <p>• Сыщик информации</p>
              <p>• Тестировщик</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}