{% extends 'base.html' %}

{% load static %}

{% block content %}


<section class="welcome">
    <div class="container">
      <div class="welcome__text">
        <h1 class="welcome__title">Будущее региона: новые профессии</h1>
        <p class="welcome__desc">Твой путеводитель в мир перспективных профессий региона.</p>
        <a class="btn" href="#jump">Профессии</a>
      </div>
      <div class="welcome__img">
        <img src="{% static 'apps/homepage/32512312.png' %}" alt="мальчик" class="">
      </div>
    </div>
</section>
<section class="prof__list">
    <div class="container">
      <div class="slider" id="jump">
        <img class="prev controlls" alt="left" src="{% static 'apps/homepage/left.png' %}">
        {% for profession in first_professions %}
          <div class="cart">
            <div class="text__card">
              <h4>{{ profession.title }}</h4>
              <p>{{ profession.description }}</p>
            </div>
          </div>
        {% endfor %}
        <img class="next controlls" alt="right" src="{% static 'apps/homepage/right.png' %}">
      </div>
    </div>
</section>

{% endblock %}