{% load static %}

<link href="{% static 'apps/base.css' %}" rel="stylesheet">


<footer class="footer">
    <div class="container">
      <div class="footer__info">
        <div class="info">
          <h1 class="footer__h1">LOGO</h1>
          <p>https://domen.com</p>
        </div>
        <a class="github__logo" href="#"><img src="{% static 'apps/includes/footer/github.png' %}" alt="github" style="width: 70%; height: 70%;"></a>
      </div>
      <p class="copyright">Copyright©Lipetsk2077</p>
    </div>
  </footer>