{% load static %}


<footer class="footer">
    <div class="container">
      <div class="footer__info">
        <div class="info">
          <h1 class="footer__h1">Lipetsk2077</h1>
          <p>https://domen.com</p>
        </div>
        <a class="github__logo" href="https://github.com/dino-mayk/Lipetsk2077" target="_blank"><img src="{% static 'apps/includes/footer/github.png' %}" alt="github" style="width: 70%; height: 70%;"></a>
      </div>
      <p class="copyright">Copyright©Lipetsk2077</p>
    </div>
  </footer>