{% load static %}

<link href="{% static 'apps/base.css' %}" rel="stylesheet">

<header class="header">
    <div class="container header__container">
      <h1 class="header__h1">LOGO</h1>
      <nav class="header__nav">
        <ul class="header__list">
          <li><a class="active" href="#">Главная</a></li>
          <li><a href="#">Профессии</a></li>
          <li><a href="#">Сектора</a></li>
          <li><a href="#">Обучение</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">О нас</a></li>
        </ul>
      </nav>
      <a class="btn" href="#">Личный кабинет</a>
    </div>
</header>
